<body class="d-flex flex-column min-vh-100">
    <!-- Footer -->
    <footer style="width: 100%;">
        <link rel="stylesheet" href="/css/footer.css">
        <div class="card footer text-center border-top">
            <div class="social-media">
                <a href=""><i class="fa-brands fa-square-facebook"></i></a>
                <a href=""><i class="fa-brands fa-square-instagram"></i></a>
                <a href=""><i class="fa-brands fa-square-whatsapp"></i></a>    
            </div>

            <div class="card-body">
                <h5 class="card-title">&copy;2024 LodgeLink,Inc.</h5>
                <p class="card-text">Choose your place when you travel..</p>
            </div>

            <div class="card-footer text-body-secondary">
                <a href="/privacy" class="btn btn-light">Privacy</a>
                <a href="/terms" class="btn btn-light">Terms & Conditions</a>
                <a href="#" class="btn btn-light">Go to Top</a>
            </div>
        </div>
    </footer>

</body>