<%- layout("/layouts/boilerplate.ejs") %>
<link rel="stylesheet" href="/css/form.css">
<body>
    <form action="/<%= username %>/pfp" method="post" class="new-form" enctype="multipart/form-data">
        <!-- FORM TITLE  -->
        <h3>Upload Your Profile Pic!</h3>
        <!-- IMAGE URL  -->
        <div class="mb-3">
            <label for="img" class="form-label">Upload New Image</label>
            <input type="file" class="form-control" id="imag" name="img">
        </div>
        <button class="btn btn-primary form-btn">Upload</button>
    </form>
    <script src="/js/form.js"></script>
</body>
